* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: white;
    min-width: min-content;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        height: 2em;
        
        #yb-logo {
            height: inherit;
            filter: invert(100%);
        }
    }

    ul {
        display: flex;

        li a {
            padding: .5em;
        }
    }
}

.intro {
    margin: 3em 0 2em;

    h1 {
        margin: .5em 0;
    }
}

.projects-wrapper {
    text-align: center;
}

.extended-wrapper {
    max-width: 1230px;
    margin: 0 auto;

    h2 {
        margin: 0 1em .5em;
        text-align: initial;
    }

    .arrow {
        height: 2em;
        filter: invert(100%);
        display: none;
    }

    #left-arrow {
        transform: rotateZ(180deg);
    }
}

.project-card {
    text-align: initial;
    display: inline-block;
    margin: 1em;

    .project-title {
        width: 16em;
        height: 5.5em;
        background-color: #1f1f1f;
        position: relative;
        border-radius: 5px 5px 0 0;

        ul {
            position: absolute;
            margin: .5em;
            display: flex;
        }

        li {
            height: 1.5em;
            margin: .2em .1em 0;

            img {
                height: inherit;
            }
        }

        h3 {
            position: absolute;
            bottom: 0;
            margin: .5em;
        }
    }

    .project-details {
        width: 16em;
        height: 8em;
        background-color: #3b3b3b;
        border-radius: 0 0 5px 5px;
        padding: 1em;
        position: relative;

        ul {
            position: absolute;
            margin: .5em;
            bottom: 0;
            right: 0;
            display: flex;
        }

        li {
            margin: 0 .2em;

            a {
                height: 2em;
                display: inline-block;

                img {
                    height: inherit;
                    filter: invert(70%);
                    
                    &:hover {
                        filter: invert(100%);
                    }
                }
            }
        }
    }
}

.skills-wrapper {
    margin: 2em 0;
    text-align: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2em 0;
    }

    li {
        height: 4em;
        margin: .5em;

        img {
            height: inherit;
        }
    }
}